html {
	font-size: 62.5%;
	background-color: #4a4a50;
}
:root {
	--font-xs: 0.8rem;
	--font-s: 1.2px;
	--font-m: 1.6rem;
	--font-l: 2rem;
	--font-xl: 2.8rem;
	--font-xxl: 4rem;
}
.body {
	font-size: 62.5%;
	font: 400 var(--font-m) "Raleway", "Open Sans", "Helvetica Neue", Arial,
		"Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	width: 100%;
	background-color: #4a4a50;
	color: #e8e8e8;
	letter-spacing: 0.3rem;
	font-feature-settings: normal;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	word-break: break-all;
}
a {
	color: #000000;
	text-decoration: none;
}

a:hover,
a:visited,
a:focus {
	color: #75c8ce;
	text-decoration: none;
}

a:active {
	color: #75c8ce;
	background-color: #75c8ce;
}
.main {
	padding: clamp(24px, 8vw, 120px) 0;
	display: grid;
	gap: clamp(24px, 8vw, 120px);
}
section {
	opacity: 0;
}
.inner {
	max-width: 1200px;
	margin: 0 auto;
}
.text_inner {
	width: 70%;
	margin: 0 auto;
	letter-spacing: 0.4rem;
}
.title {
	font-size: var(--font-xl);
	font-weight: 600;
	letter-spacing: 0.5rem;
	text-align: center;
	padding: 32px 0;
}

.portfolio {
	.portfolio_list {
		display: flex;
		align-items: center;
		width: fit-content;
		margin: 0 auto;
		a {
			position: relative;
			display: block;
			line-height: 0;
			p {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				background: rgba(255, 255, 255, 0.15);
				backdrop-filter: blur(11px);
				opacity: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				font-size: var(--font-xl);
				color: #000;
				font-weight: bold;
			}

			img {
				object-fit: cover;
			}
		}
	}
}
.overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #75c8ce;
	&.unmount {
		height: 0;
		visibility: hidden;
	}
	&.mount {
		height: 100vh;
		visibility: visible;
		z-index: 9999;
	}
}
.bbbbb {
	padding: 50px;
	position: relative;
}
.test {
	height: 500px;
}
.hide {
	opacity: 0;
	transition: opacity 1000ms ease;
}
.show {
	opacity: 1;
	transition: opacity 1000ms ease;
}
