.title {
	font-size: var(--font-xxl);
	text-align: center;
}

.post {
	p {
		margin: 0 auto;
		padding: 5px;
		column-count: 4;
		gap: 16px;
		img {
			margin: 16px;
			margin-top: 0;
			break-inside: avoid;
			box-shadow: 8px 12px 10px -6px rgba(0, 0, 0, 0.3);
			display: inline-block;
		}
	}
}
.mySwiper {
	display: none;
}
