.main {
  width: 960px;
  margin: 0 auto;
  background: red;
}

.title {
  margin-bottom: 20px;
}

.publishedAt {
  margin-bottom: 40px;
}

.post {
  & > h1 {
    font-size: 90px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}
.circle {
  position: fixed;
  width: 200px;
  height: 200px;
  top: 5%;
  right: 5%;
  font-size: 24px;
  z-index: 9998;
  transform-origin: center;
  transform: rotate(0deg);
  filter: drop-shadow(2px 4px 6px black);
}
