.nav {
	width: 100%;
	margin: 0 auto;
	padding: 40px 0 24px 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
	mix-blend-mode: difference;
	a {
		color: #fff;
	}
	.logo {
		font-size: var(--font-xxl);
		text-align: center;
		letter-spacing: 1rem;
		font-weight: normal;
		padding: 0 0 40px 0;
	}
	.menu {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 24px;
	}
}
